{% extends 'base.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/classic.css') }}">
    <link rel="stylesheet" href="{{ asset('css/classic.date.css') }}">
    <link rel="stylesheet" href="{{ asset('css/classic.time.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <!-- Include Pikaday CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
{% endblock %}

{% block body %}
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
         <title>Balance Hub</title>
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="reservation.html">Reservation</a>
                            <a class="dropdown-item" href="stuff.html">Stuff</a>
                            <a class="dropdown-item" href="gallery.html">Gallery</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="blog.html">blog</a>
                            <a class="dropdown-item" href="blog-details.html">blog Single</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Create New Livraison</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->

    <!-- Start Reservation -->
    <div class="reservation-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Livraison Details</h2>
                        <p>Choisir les details de la livraison</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="contact-block">
                        <form id="livraisonForm" method="post">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Book a table</h3>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {# Replace form_row with input field #}
                                            <input type="text" id="datepicker" name="date_livraison" class="form-control" placeholder="Date Livraison">
                                            {{ form_errors(form.date_livraison) }}
                                        </div>                                 
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_row(form.prix_livraison, {'attr': {'class': 'form-control', 'placeholder': 'Prix Livraison'}}) }}
                                            {{ form_errors(form.prix_livraison) }}
                                        </div>                                 
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_row(form.produit, {'attr': {'class': 'form-control', 'placeholder': 'Produit'}}) }}
                                            {{ form_errors(form.produit) }}
                                        </div>                                 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit-button text-center">
                                    <button class="btn btn-common" type="submit">Create Livraison</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Reservation -->

    <a href="{{ path('app_livraison_index') }}">Back to List</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Include Pikaday JS -->
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script>
        // Initialize Pikaday on the date input field
        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: 'YYYY-MM-DD',
            onSelect: function(date) {
                console.log('Selected date: ' + date);
            }
        });
    </script>
{% endblock %}
