{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h1>Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Date_livraison</th>
                <td>{{ livraison.date_livraison ? livraison.date_livraison|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix_livraison</th>
                <td>{{ livraison.prix_livraison }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ livraison.produit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livraison_index') }}">back to list</a>

    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}">edit</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
